# Ignore node_modules
node_modules/

# Ignore environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*
yarn-error.log*

# Ignore pnpm debug log
pnpm-debug.log*

# Ignore Visual Studio Code settings
.vscode/
